
   
   
    input[type="text"], input[type="password"] {
      border: 2px solid #ccc;
      padding: 20px;
	  font-size: 20px;
    }

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
