
    /* Add some styles to the page */
    body {
      background-color: #eee;
	  top: 0;
      left: 0;
    }
    .color-option {
      width: 30px;
      height: 30px;
      margin: 5px;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }
    .color-option.color1 {
      background-color: red;
    }
    .color-option.color2 {
      background-color: white;
    }
    .color-option.color3 {
      background-color: black;
    }
    .preview-modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 999;
      justify-content: center;
      align-items: center;
    }
    .preview-modal img {
      max-width: 50%;
      max-height: 50%;
    }

  